

<p>
  <strong><%= t '.clasification' %>:</strong>
  <%= @clasification.clasification %>
</p>

<%= link_to t('.edit'), edit_clasification_path(@clasification) %> |
<%= link_to t('.back'), clasifications_path %>
