<div class="cotainer col-12 mt-5">
<h1 class="text-muted"> <%= t '.welcome_mssg' %>: <%= current_user.email %> </h1>
<i class="far fa-address-book"></i>
<i class="fab fa-github"></i>
<p> <%= t '.mssg_html' %> </p>
</div>
